body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border : 2px solid black;
    padding : 20px;
    height: 500px;
    width: 350px;
    gap:10px;
    border-radius: 20px;
    background-color: rgb(31, 31, 33);
}

#screen {
    border: 2px solid black;
    background-color: rgb(169, 167, 167);
    height: 300px;
    width: 358px;
    margin-bottom: 5px;
    border-radius: 7px;
    color: azure;
}

.normalbutton {
    height: 60px;
    width: 110px;
    border-radius: 20px;
    font-size: 30;
    color: azure;
    font-weight: bolder;
}

.number {
    background: rgb(90, 196, 122); 
}

.operator {
    background-color: rgb(232, 164, 5);
}

.deletion {
    background-color: rgb(237, 33, 6);
}
.row {
    display: flex;
    flex-direction: row;
    gap:10px;
}

#AC {
    width: 350px;
    height: 60px;
    border-radius: 20px;
    font-size: 30;
    color: azure;
    font-weight: bolder;
}